*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
#container{
    width: 500px;
    height: 750px;
    background-color: lightseagreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
#buttons{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
#input{
    width: 400px;
    height: 150px;
    font-size: 70px;
}